{% extends ':frontend:frontend.layout4.content.html.twig' %}

{% block footer %}
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>CENPIS</strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Centro de Estudios de Neurociencias, Procesamiento de Imágenes y Señales
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
