{% extends ':frontend:frontend.html.twig' %}

{% block nav %} {% endblock %}

{% block content_about %}

    <section id="about">
        <div class="container">
            <div class="row about-container">

                {% include 'FrontendBundle:Layout:messages.html.twig' %}

                <div class="col-lg-12 content order-lg-1 order-2" style="padding-top: 20px"></div>

                <div class="col-lg-12 background order-lg-2 order-1 wow fadeInUp">
                    {% block wrapper %} {% endblock %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
