{% extends 'FrontendBundle:Layout:frontend-basic.html.twig' %}

{% block wrapper_header %}

    <div class="section-header">
        <h3 class="section-title">Apuntes</h3>
        <p class="section-description">Lista de mensajes almacenados</p>
    </div>

{% endblock %}

{% block wrapper %}

    {% include 'FrontendBundle:Apunte:_table.html.twig' %}

{% endblock %}


